/*
 * Global test styles.
 */
@import url(http://fonts.googleapis.com/css?family=Spinnaker);
body {
  font-family: sans-serif;
  background: plum;
  margin: 0;
}

main {
  width: 90%;
  margin: 0 auto;
}

h1, h2, h3, h4 {
  font-family: 'Spinnaker', sans-serif;
  font-weight: normal;
  color: white;
}

h1 {
  padding: 1em .6em;
  margin: 0 0 2em;
  background: #e0a8e0;
}
h1 a {
  color: white;
  text-decoration: none;
}

h3 {
  padding: 0 0 .6em;
  margin: 1em 0;
  border-bottom: 1px solid #d68dd6;
}
